click===8.0.3  
dnspython===2.1.0  
Flask===2.0.2  
Flask-Cors===3.0.10 
Flask-PyMongo===2.3.0  
importlib-metadata===4.10.0 
itsdangerous===2.0.1  
Jinja2===3.0.3  
MarkupSafe===2.0.1  
pip===19.0.3 
pymongo===4.0.1  
setuptools===40.8.0 
six===1.16.0 
typing-extensions===4.0.1  
Werkzeug===2.0.2  
yapf===0.32.0 
zipp===3.6.0 